/* banner */
.th_banner { position: relative; height: 640px; overflow: hidden;}
.th_banner_list { position: absolute; left: 0;}
.th_banner_list li { float: left;}
.th_banner_list li a { height: 640px; margin: 0 auto; display: block;}
.th_banner_list li img { width: 100%;}

#slideButtonLeft1,
#slideButtonRight1 { position: absolute; top: 42%; display: inline-block; *display: block; *zoom: 1; z-index: 9; cursor: pointer;}
#slideButtonLeft1 { width: 45px; height: 85px; left: 10%; background: url(../img/banner_left.png) no-repeat center;}
#slideButtonRight1 { width: 45px; height: 85px; right: 10%; background: url(../img/banner_right.png) no-repeat center;}

/* 散件 */
.white { color: white;}
.th_splitLine { width: 100%; margin: 100px 0 70px 0; display: block;}

